build/bin/
node_modules/
frontend/dist/
frontend/wailsjs/
frontend/*.tsbuildinfo
frontend/vite.config.d.ts
frontend/vite.config.js
*.log
*.db
*.bbolt
.DS_Store
.idea/
.vscode/
*.swp
*.tmp
coverage.out
dist/
frontend/package.json.md5
